<template>
    
        <div class="col-md-4">
        
                <form>
                <div class="form-group">
                        <label for="InputFirstName"><b>First Name</b></label>
                        <input type="text" class="form-control" id="InputFirstName" 
                    aria-describedby="firstNameHelp" placeholder="Enter first name"
                            value.bind="user.firstName">
                    </div>
            
                    <div class="form-group">
                        <label for="InputLastName"><b>Last Name</b></label>
                        <input type="text" class="form-control" id="InputLastName" aria-describedby="lastNameHelp" placeholder="Enter last name"
                            value.bind="user.lastName">
                    </div>
            
                  <div class="form-group">
                        <label for="InputEmail"><b>Email</b></label>
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email"
                            value.bind="user.email">
                    </div>
            
                    <div class="form-group">
                        <label for="InputPassword"><b>Password</b></label>
                        <input type="text" class="form-control" id="InputPassword" aria-describedby="passwordHelp" placeholder="Enter password"
                            value.bind="user.password">
                    </div>        
        
        <span>${registerError}</span>
         <button click.trigger="save()">Save</button>
    </form>
    </template>
    